<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/General.css" rel="stylesheet">
</head>

<body>
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
            <a href="#">Explore groups</a>
            <a href="#">My groups</a>
            <a href="#">Moderated groups</a>
            <a href="#">Create a group</a>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
    <footer>
        <p>Authors: Mihaila Nicolae and Tudose Stefan Alexandru</p>
    </footer>
</body>

</html>
