@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Show Category";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}
@model Proiect.Models.Category
<h2>@ViewBag.Title</h2>

<br />

<p>@Model.Categ_Name</p>

@if(User.IsInRole("Admin"))
{
    <form method="post" action="/Categories/Delete/@Model.Categ_ID">

        <button class="btn btn-danger" type="submit">Delete Category</button>

    </form>
}

<br />
<a class="btn alert-success" href="/Categories/Index">View list of all Categories</a>

<br />
<hr />
<br />
