<h2>Afisare student</h2>
<br />

<p>@ViewBag.Group.Name</p>
<p>@ViewBag.Group.Description</p>
<p>@ViewBag.Group.Gr_CreatedDate</p>

<br />

<a href="/Crud/ShowAll">Show all of the groups (last page)</a>