@{
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
    ViewBag.Title = "Edit category";
}
@model Proiect.Models.Category
<h2>@ViewBag.Title</h2>


@using (Html.BeginForm(controllerName: "Categories", actionName: "Edit", method: FormMethod.Post,
      routeValues: new { id = Model.Categ_ID }))
{
    @Html.Label("Categ_Name", "Category Name")
    <br />
    @Html.Editor("Categ_Name")

    @Html.ValidationMessageFor(m => m.Categ_Name, null, new { @class = "text-danger" })
    <br />

    <br />

    <button class="btn btn-success" type="submit">Edit Category</button>
}
