
<h1>Members not in Group @ViewBag.grName</h1>

@if (ViewBag.nonMems != null){
    foreach(var mem in ViewBag.nonMems){
        <hr>
            <h2>Usename: @mem.UserName</h2>
        @using (Html.BeginForm(actionName: "AddToGroup", controllerName: "Administration", routeValues: new { id = @ViewBag.grId, idMem = @mem.Id})){
            <button class= "btn alert-success" type = "submit"> Add user to group.</button>
        }
        <hr>
    }
}
else{
    <h2>There is no member registered that does not belong to this group.</h2>
}
