@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Digital school groups website</h1>
    <h3>This is the final semester project for our Web Apps Development Course in ASP.NET.</h3>
    <h3>The authors of this project are Mihaila Nicolae and Tudose Alexandru Ștefan</h3>
    <h3>We have written the project in english so as we would be able to put it in our CVs and our GitHub profiles</h3>

</div>


<!--search bar start-->
<!--search bar end-->

<a class = "btn btn-primary" href = "/Groups/Index"> See all groups</a>

